@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap');
.eventcard-main-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Sans';
    border: 1px solid black;
    border-radius: 5px;
    width:400px;
    height:550px;
    color:white;
    background-color: black;
    padding:10px;
    /* font-size: xx-large; */
}

.eventcard-main-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Sans';
    border: 1px solid black;
    border-radius: 5px;
    width:300px;
    color:white;
    background-color: black;
    padding:10px;
    cursor: pointer;
}

.eventcard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* background-color:black; */
    width: 100%;
    
}



#main-img-small {
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

#main-img-large {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.eventcard-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
}

.eventcard-name {
    padding-top: 5px;
    font-family: "Big Shoulders Text";
    /* text-align: center; */
    
}

.eventcard-icons {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items: center;
}

#hr-line {
    background-color: white;
    color: white;
    height: 5px;
}

.eventcard-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.eventcard-icons-solo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    width:100%;
}

.icon-register {
    color: #A0F3AD;
    display: flex;
    gap:5px;
}

.icon-seats {
    color: #ECECAB;
    display: flex;
    gap:5px;
}

.fa-bookmark{
    color: #EA8282;
}

.icon {
    cursor: pointer;
}

#register-btn {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}