.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: 'Sofia Sans';
    background-color: black;
    width: 100%;
    color:white
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.square {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #555;
  }
.b {
    background-color: #0000FF;
}  
.a {
    background-color: #800080;
}  
.c {
    background-color: #9B9999;
}  